
includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
	level: 0
	phpVersion: 80100
	reportUnmatchedIgnoredErrors: false
	scanDirectories:
		- dist/joomla5
	paths:
		- src
