
includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
	level: 0
	phpVersion: 80300
	reportUnmatchedIgnoredErrors: false
	scanDirectories:
		- joomla6
	paths:
		- src
